= form_for @contact, role: 'form' do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-3
      %center
        %img{src: "http://placehold.it/150x150"}
    .col-md-9

      .row
        .col-md-4
          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control'

        .col-md-4
          .form-group
            = f.label :age
            = f.text_field :age, class: 'form-control'
        .col-md-4
          .form-group
            = f.label :birthday
            %br
            = f.date_select :birthday, class: 'form-control'
      = fields_for :address do |a|
        .row
          .col-md-12
            .form-group
              = a.label :street
              = a.text_field :street, class: 'form-control'
        .row
          .col-md-4
            .form-group
              = a.label :city
              = a.text_field :city, class: 'form-control'
          .col-md-4
            .form-group
              = a.label :state
              = a.text_field :state, class: 'form-control'
          .col-md-4
            .form-group
              = a.label :zip
              = a.text_field :zip, class: 'form-control'


      .row
        .col-md-6
          .form-group
            = f.label :phone
            = f.text_field :phone, class: 'form-control'
        .col-md-6
          .form-group
            = f.label :email
            = f.text_field :email, class: 'form-control'

      .row
        .col-md-6
          .actions
            = f.submit 'Save Contact', class: 'btn btn-success col-md-12'
