= form_for @contact, role: 'form' do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-12
      .form-group
        = f.text_field :name, class: 'form-control input-lg', placeholder: 'Full Name'
  %hr
  .row
    .col-md-3
      %center
        - if @contact.try(:email)
          %img{src: "#{@contact.avatar(150)}", style: "width: 120px;"}
        - else
          %img{src: "http://placehold.it/150x150"}
    .col-md-9

      .row
        .col-md-4
          .form-group
            = f.label :sex
            %br
            = f.select :sex, options_for_select(['male', 'female']), class: 'form-control'

        .col-md-4
          .form-group
            = f.label :age
            = f.text_field :age, class: 'form-control'
        .col-md-4
          .form-group
            = f.label :birthday
            %br
            = f.date_select :birthday, class: 'form-control'
      - fa = @contact.addresses.first
      = fields_for :address do |a|
        .row
          .col-md-12
            .form-group
              = a.label :street
              = a.text_field :street, value: fa.try(:street), class: 'form-control'
        .row
          .col-md-4
            .form-group
              = a.label :city
              = a.text_field :city, value: fa.try(:city), class: 'form-control'
          .col-md-4
            .form-group
              = a.label :state
              = a.text_field :state, value: fa.try(:state), class: 'form-control'
          .col-md-4
            .form-group
              = a.label :postcode
              = a.text_field :postcode, value: fa.try(:postcode), class: 'form-control'


      .row
        .col-md-4
          .form-group
            = f.label :phone
            = f.text_field :phone, class: 'form-control'
        .col-md-4
          .form-group
            = f.label :email
            = f.text_field :email, class: 'form-control'
        .col-md-4
          .form-group
            = f.label :avatar_url
            = f.text_field :avatar_url, class: 'form-control'

      .row
        .col-md-6
          .actions
            = f.submit 'Save Contact', class: 'btn btn-success col-md-12'
