%h1 All Contacts

%table.table
  %tr
    %th Name
    %th Sex
    %th Age
    %th Birthday
    %th Phone
    %th Email
    %th
    %th
    %th

  - @contacts.each do |contact|
    %tr
      %td= contact.name
      %td= contact.sex
      %td= contact.age
      %td= contact.birthday
      %td= contact.phone
      %td= contact.email
      %td= link_to 'Show', contact
      %td= link_to 'Edit', edit_contact_path(contact)
      %td= link_to 'Destroy', contact, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Contact', new_contact_path
